@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif; 
    padding: 0;
    margin: 0;
}

main{
    padding: 10px;
    float: right;
    width: 75%;
}

aside{
    padding-left: 5px;
    float: left;
    width: 25%;
    position: fixed;
    left: 0;
}

nav{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    background-color: rgba(241, 240, 229, 0.966);
    margin: 5px;
    color: black;
}

#judul_menu{
    text-align: center;
}

@media only screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }

    main{
        position: relative;
        top: 300px;
        width: 90%;
        font-size: 12px;
        float: unset;
        margin: auto;
        padding: 0;
    }

    aside{
        position: absolute;
        width: 90%;
        float: unset;
        margin: auto;
        padding: 0;
        left: 5%;
    }
}